.bg-image {
  width: 100%;
  pointer-events: none;
}

.image--container {
  /* width: 100%;
  height: 100%; */
  position: relative;
}

.image--wrapper {
  position: relative;
}

.chris-green-tick {
  position: absolute;
  top: 5641px;
  left: 1324px;
}

.griffin-green-tick {
  position: absolute;
  top: 4320px;
  left: 160px;
}

.kratos-green-tick {
  position: absolute;
  top: 5250px;
  left: 810px;
}

.link-green-tick {
  position: absolute;
  top: 5740px;
  left: 290px;
}

.tom-green-tick {
  position: absolute;
  top: 766.71vh;
  left: 84.02vw;
}
