.dropdown--modal {
  position: absolute;
  margin: 5px 0px 0px 5px;
  padding: 4px;
  border: 1px solid rgb(17, 17, 17);
  border-radius: 0.5rem;
  box-shadow: rgb(0 0 0) 0px 0px 5px;
  background: rgb(26, 26, 27);
  color: rgb(229, 229, 229);
  width: 187px;
  height: 217px;
}

.chrisParent,
.griffinParent,
.kratosParent,
.linkParent,
.tomParent {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px dashed grey;
  cursor: pointer;
}

.chrisParent:hover {
  background-color: lightgray;
  color: black;
}

.tomParent:hover {
  background-color: lightgray;
  color: black;
}

.linkParent:hover {
  background-color: lightgray;
  color: black;
}

.kratosParent:hover {
  background-color: lightgray;
  color: black;
}

.griffinParent:hover {
  background-color: lightgray;
  color: black;
}

.child1 {
  width: 20%;
  margin-left: 5px;
}

.child1 img {
  max-width: 100%;
}

.child2 {
  margin-right: 1rem;
}

.cancel--btn--dropdown {
  position: absolute;
  right: 0.1rem;
  top: 0.1rem;
  margin: 0px 0px 4px auto;
  border-radius: 100%;
  background: none;
  fill: crimson;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
